.post h1 {
  color: #ba1419;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 0;
  font-size: 3em;
}

.post h2 {
  font-weight: 100;
  /* margin: 0; */
}

.post p {
  font-family: Helvetica;
  line-height: 1.5em;
}
