.post h1 {
  color: #ba1419;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 0;
  font-size: 3em;
}

.post img {
  /* border-left: 1px solid #ba1419;
  border-top: 1px solid #ba1419; */
  -webkit-box-shadow: -4px -4px 12px 0px rgba(186,20,25,0.6);
  -moz-box-shadow: -4px -4px 12px 0px rgba(186,20,25,0.6);
  box-shadow: -4px -4px 12px 0px rgba(186,20,25,0.6);
}

.date {
  margin-top: 0;
}

.post h2 {
  font-weight: 100;
  /* margin: 0; */
}

.post p {
  font-family: Helvetica;
  line-height: 1.5em;
}

.next {
  position: absolute;
  right: 0;
}

.previous a {
  color: #ba1419;
}

.next a, .previous a{
  color: #ba1419;
  font-size: 1.5em;
  text-decoration: none;
}

.next a:hover, .previous a:hover {
  text-decoration: underline;
}